streamlit==1.41.1
python-dotenv==1.0.1
langchain==0.3.15
langchain-chroma==0.2.1
langchain-community==0.3.15
langchain-core==0.3.31
langchain-google-genai==2.0.8
langchain-groq==0.2.3
langchain-pinecone==0.2.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
pinecone==5.4.2
requests==2.32.3
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.2
pdfplumber==0.10.3
pypdf==5.1.0
sentence-transformers==3.3.0
transformers==4.46.2
